<template>
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:white; color:pink">
            <a href="/../../index3.html" class="brand-link">
            <img src="/../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span style="color:black; font-weight:bold">Admin</span>
            </a>
            <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link" style="background-color:#01cd74; color:black; font-weight:bold">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p style="color:black;">
                            Dashboard
                        </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/create" class="nav-link" style="color:black; font-weight:bold">
                        <i class="nav-icon fas fa-th"></i>
                        <p style="color:black;">
                            Tambah Data
                        </p>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tempat Wisata</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
                </div>
            </div>
            </section>
            <section class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tabel Tempat Wisata</h3>
                    </div>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Deskripsi</th>
                            <th>Gambar</th>
                            <th>Nilai</th>
                            <th>Tag</th>
                            <th>Map</th>
                            <th>Aksi</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(artikel, index) in artikels" :key="index">
                                <td>{{ index+1 }}</td>
                                <td>{{ artikel.nama }}</td>
                                <td>{{ artikel.deskripsi.substring(0, 100) }}...</td>
                                <td>{{ artikel.gambar.substring(0, 50) }}...</td>
                                <td>{{ artikel.nilai }}</td>
                                <td>{{ artikel.tag }}</td>
                                <td>{{ artikel.map }}</td>
                                <td class="text-center">
                                    <router-link :to="{name: 'Edit', params: { id: artikel.id }}" class="btn btn-sm btn-primary mr-2">EDIT</router-link>
                                    <button @click.prevent="artikelDelete(artikel.id)" class="btn btn-sm btn-danger">HAPUS</button> 
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </section>
        </div>
    
    </div>

</template>

<script>
    import axios from 'axios'

    export default {
        name: 'AdminTampilan',
        data() {
            return {
                artikels: []
            }
        },
        created() {
            axios.get('http://localhost:8001/admin').then(response => {
                this.artikels = response.data.data;
            });
        },
        methods: {
            artikelDelete(id)
            {
                axios.delete(`http://localhost:8001/admin/${id}`)
                    .then(response => {
                        location.reload();
                        console.log(response);
                    }).catch(error => {
                    console.log(error.response);
                });
            }
        }
    }
</script>
