<template>
<!--eslint-disable-->
    <div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption"  style="margin-bottom:150px;">
						<h3>
							Temanggung 
							<span>Bersenyum</span>
						</h3>
						<div class="read">
							<a href="#content" class="btn btn-primary read-m">Read More</a>
						</div>
					</div>
				</div>
				<div class="carousel-item item2" >
					<div class="carousel-caption" style="margin-bottom:150px;">
						<h3 >wisata kota
							<span> Temanggung</span>
						</h3>
						<div class="read">
							<a href="#content" class="btn btn-primary read-m">Read More</a>
						</div>
					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption"  style="margin-bottom:150px;">
						<h3>alam yang asri
							<span>dan indah</span>
						</h3>
						<div class="read">
							<a href="#content" class="btn btn-primary read-m">Read More</a>
						</div>
					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption"  style="margin-bottom:150px;">
						<h3>pesona
							<span>Temanggung</span>
						</h3>
						<div class="read">
							<a href="#content" class="btn btn-primary read-m">Read More</a>
						</div>
					</div>
				</div>
			</div> 
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<div class="row">
				<h1 id="content">Artikel</h1> 
				<div class="col-lg-12 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-girds-sec">
						<div class="row">
							<div class="col-md-4 blog-grid-top" v-for="(artikel, index) in artikels" :key="index" >
								<div class="b-grid-top">
									<div class="blog_info_left_grid">
										<a href="#">
											<img :src="artikel.gambar" class="img-fluid" style="height:300px; !importent; width:300px; !importent; object-fit:cover;" alt="">
										</a>
									</div>
									<h3>
										<a href="#">{{ artikel.nama }} </a>
									</h3>
									<p>{{ artikel.deskripsi.substring(0, 250) }}...</p>
								</div>
								<ul class="blog-icons">
									<li>
										<a href="#">
											Nilai : {{ artikel.nilai }}</a>
									</li>
									<li class="mx-2">
										<a href="#">
											 +{{ artikel.tag }}</a>
									</li>
									<li>
										Lokasi : {{ artikel.map }}
									</li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--eslint-disable-->
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'AdminTampilan',
        data() {
            return {
                artikels: []
            }
        },
        created() {
            axios.get('http://localhost:8001/admin').then(response => {
                this.artikels = response.data.data;
            });
        },
        methods: {
            artikelDelete(id)
            {
                axios.delete(`http://localhost:8001/admin/${id}`)
                    .then(response => {
                        location.reload();
                        console.log(response);
                    }).catch(error => {
                    console.log(error.response);
                });
            }
        }
    }
</script>
