<template>
 <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:white; color:pink">
            <a href="/../../index3.html" class="brand-link">
            <img src="/../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span style="color:black; font-weight:bold">Admin</span>
            </a>
            <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link" style="background-color:#01cd74; color:black; font-weight:bold">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p style="color:black;">
                            Dashboard
                        </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/create" class="nav-link" style="color:black; font-weight:bold">
                        <i class="nav-icon fas fa-th"></i>
                        <p style="color:black;">
                            Tambah Data
                        </p>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tempat Wisata</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
                </div>
            </div>
            </section>
            <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header" style="background-color:#01cd74;">
                <h3 class="card-title">Tambah Artikel</h3>
              </div>
              <form @submit.prevent="artikelStore">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nama</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukan Nama..." v-model="artikel.nama">
                    <div v-if="validation.nama">
                        <div class="alert alert-danger mt-1" role="alert">
                            {{ validation.nama[0] }}
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Deskripsi</label>
                    <textarea class="form-control" id="exampleInputPassword1" placeholder="Masukan Deskripsi..." v-model="artikel.deskripsi"></textarea>
                    <div v-if="validation.deskripsi">
                        <div class="alert alert-danger mt-1" role="alert">
                            {{ validation.deskripsi[0] }}
                        </div>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Gambar</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukan Link Gambar..." v-model="artikel.gambar">
                    <div v-if="validation.gambar">
                        <div class="alert alert-danger mt-1" role="alert">
                            {{ validation.gambar[0] }}
                        </div>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Nilai</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukan Nilai..." v-model="artikel.nilai">
                    <div v-if="validation.nilai">
                        <div class="alert alert-danger mt-1" role="alert">
                            {{ validation.nilai[0] }}
                        </div>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Tag</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukan Tag..." v-model="artikel.tag">
                    <div v-if="validation.tag">
                        <div class="alert alert-danger mt-1" role="alert">
                            {{ validation.tag[0] }}
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">MAP</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Masukan Link MAP..." v-model="artikel.map">
                    <div v-if="validation.map">
                        <div class="alert alert-danger mt-1" role="alert">
                            {{ validation.map[0] }}
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
     
      </div>
    </section>
        </div>
    
    </div>
</template>

<script>
    import axios from 'axios'
    export default{
        name: "CreateTampilan",
        data() {
            return {
                artikel: {},
                validation: []
            }
        },
        methods: {
            artikelStore() {
                axios.post('http://localhost:8001/admin', this.artikel)
                    .then((response) => {
                        this.$router.push({
                            name: 'Admin'
                        });
                        console.log(response.data.data);
                    }).catch(error => {
                    this.validation = error.response.data.data;
                });
            }
        }
    }
</script>
